h2= "Your search for: " + res.query
#results
  -if (res.query && res.resultsData)
    ul
      - each item in res.resultsData
        li
          a(href= item.url)= item.title
          div= item.url
  -else
    div No results found
