!!! 5
html(lang="en")
  head
    title= res.title
    link(href="/static/search.css", type="text/css", rel="stylesheet")
  body
    h1= res.title
    p Turn JavaScript on to see 'realtime' dummy search results. The app will work in the same way with JS turned off.
    #form!= partial('partials/form.jade')
    #app!= body
    
    script(src="/static/jade.min.js")
    script(src="/static/jquery.min.js")
    script(src="/static/shared-helpers.js")
    script(src="/static/clientside-jade.js")
    script(src="/static/clientside-search.js")
    script(src="/data/templates?callback=CSJ.updateTemplates")