!!! 5
html(lang="en")
  head
    title= title
  body
    h1= title
    p Turn JavaScript on to see 'realtime' dummy search results. The app will work in the same way with JS turned off.
    #form!= partial('partials/form.jade')
    #app!= body